h1 {
	color: #971D3B;
	text-align: center;
	font-family: calibri;
	font-size: 200%;
}

h2 {
	color: #971D3B;
	text-align: center;
	font-family: calibri;
	font-size: 600%;
}

img {
		height: 500px;
		width: 500px;
}

h3 {
	color: white;
	background-color: #971D3B;
	text-align: center;
	font-family: calibri;
	font-size: 350%;
}

h4 {
	color: white;
	text-align: center;
	font-family: calibri;
	font-size: 350%;
	border: 2px solid;
}

a:link{
	color:#971D3B;
	text-decoration: none;
	font-size: 200%;
}

a:hover{
	color: white;
	text-decoration: none;