h1 {
	color: white;
	text-align: center;
	font-family: calibri;
	font-size: 200%;
}

h2 {
	color: white;
	text-align: center;
	font-family: calibri;
	font-size: 600%;
}

img {
		height: 500px;
		width: 500px;
}

h3 {
	color: #373952 ;
	background-color: #CFCDF1;
	text-align: center;
	font-family: calibri;
	font-size: 350%;
}

h4 {
	color: white;
	text-align: center;
	font-family: calibri;
	font-size: 300%;
	border: 2px solid;
}


a:link{
	color:#373952;
	text-decoration: none;
	font-size: 200%;
}

a:hover{
	color: white;
	text-decoration: none;