div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: black;
	color: white;
	font-family: calibri;
}

body {
	font-family: "calibri", sans-serif;
	line-height: 2;
	color: black;
}

div.card {
	background-color: black;
	color: white;

}